body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.cart {
  margin-top: 1rem;
}

.cart-qty-input {
  width: 5em !important;
}

.viewHeight {
  min-height: 100vh
}
